@import '../../styles/shared/color.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        border: 0.1px black solid;
        position: absolute;
        height: 30rem;
        right: 55rem;
    }
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
}

.inputContainer {
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0.8rem 1rem 0.5rem;
}

.input {
    background: $white;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
    width: 20rem;

    &:focus {
        outline: $primary solid 1px;
    }
}

.button {
    background-color: $primary;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1rem 3rem;
}
