@import '../../styles/shared/color.scss';

.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 4.5rem;
}

.info {
    display: flex;
    color: $white;
}

.first,
.last {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 1.5rem;
}

.last {
    margin-left: 0.5rem;
}

.navItem {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    margin: 2rem 0;
}
